<script src="plugins/artyom/desktop/js/artyom.min.js"></script>


 <script>
  // on charge les commandes en premier
  (function(window){'use strict';

  var jeedomurl = "";
  var apikeytemp = "#jeedom#";
  apikey = apikeytemp.slice(apikeytemp.indexOf("api=")+4);
  if(window.location.href.indexOf("jeedom.com") > -1) {
    jeedomurl = window.location.href.slice(0,window.location.href.indexOf("jeedom.com")) + "jeedom.com/core/api/jeeApi.php?api=" + apikey;
  } else {
    jeedomurl = "#jeedom#";
  };

  var artyomCommands = [
    {

      description: "Pronunciate all that i say after <b>Pronunciate</b>",
      indexes: ["#keyword# * #keyend#"],
      smart:true,
      action : function(i,wildcard,sentence){
        $("#artyom_ask").text(wildcard);

        console.log( jeedomurl + "&type=interact&query=" + wildcard);
        console.log("#jeedom#");

        $.get( jeedomurl + "&type=interact&query=" + wildcard, function( data ) {
          artyom.say(data);
          $("#artyom_answer").text(data);
        });
      }
    }
  ];
  //Updated to artyom v 0.6
  artyom.addCommands(artyomCommands);
  })(window);

  $('body').on('artyom::stackData', function (_event,param) {
    //var _cmd = JSON.parse(param);
    artyom.say(param);
  });
</script>

<script>

// on ajoute les fonctions que le veux utiliser

function StartArtyomTemp(){
  artyom.fatality();// Stop any previous Artyom Instance to prevent any error

  artyom.initialize({
    lang:"#lang#",
    continuous:#continuous#,// recognize 1 command and stop listening !
    listen:true,//Otherwise we will save only the configuration but don't start artyom.
    debug:false,
    mode:"normal",
    executionKeyword:"#keyend#",
    speed:1
  });

}

function execArtyom(txtAction){
  artyom.simulateInstruction(txtAction);
}
</script>

<div class="eqLogic-widget eqLogic" style="background-color: #background_color#; padding : 0px; #style#" data-eqLogic_id="#id#" data-version="mobile" >
  <center> #name# </center>
  <center><i class="fa fa-microphone"></i></center><br/>

  </div>

<script>StartArtyomTemp()</script>
